DATABASE_URL="postgresql://USER:PASSWORD@HOST.us-east-1.aws.neon.tech/neondb?sslmode=require"
SESSION_SECRET="genera-un-string-largo-y-aleatorio-de-32-caracteres"
NEXT_PUBLIC_APP_NAME="Sistemas Gestor"
