DATABASE_URL="postgresql://user:pass@ep-xxxx.us-east-2.aws.neon.tech/sistemas?sslmode=require"
SESSION_SECRET="cambiar-por-un-string-largo-y-aleatorio-de-al-menos-32-caracteres"
NEXT_PUBLIC_APP_NAME="Sistemas Gestor"
